<!DOCTYPE html>
<head>
    <title>Admin</title>
</head>
<body>
    <div class="admin">
        <h1>Admin</h1>
        <a href = "/admin/viewComp">View Complaints</a><br>
        <a href = "/admin/resComp">Resolve Complaints</a><br>
        <a href = "/admin/remUser">Remove User</a><br>
        <a href = "/admin/Myprof">My Profile</a>
    </div>
</body>