<!DOCTYPE html>
<head>
    <title>Login Form</title>
</head>
<body>
    <div class="login">
        <form action="auth" method="POST">
            <input type="text" placeholder="username" name="username" required><br>
            <input type="password" placeholder="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        <a href = "register">add user</a>
    </div>
</body>