<!DOCTYPE html>
<head>
    <title>Register</title>
</head>
<body>
    <div>
        <form action = "reg" method = "post">
            <label>Username</label><br>
            <input type = "text" placeholder = "username" id = "uname" name = "uname"><br>
            <label>Password</label><br>
            <input type = "text" id = "password" placeholder="password" name = "password"><br>
            <label>User Type</label>
            <select name = "utype" id = "utype" placeholder = "utype">
                <option value = "Admin">Admin</option>
                <option value = "User">User</option>
            </select>
            <label>Phone Number 1</label><br>
            <input type = "text" id = "phn1" placeholder = "phn1" name = "phn1"><br>
            <label>Phone Number 2</label><br>
            <input type = "text" id = "phn2" placeholder = "phn2" name = "phn2"><br>
            <label>Email ID</label><br>
            <input type = "text" id = "email" placeholder = "email" name = "email"><br>
            <label>Location</label><br>
            <input type = "text" id = "location" placeholder = "location" name = "location"><br>
            <label>First Name</label><br>
            <input type = "text" id = "fname" placeholder = "fname" name = "fname"><br>
            <label>Last Name</label><br>
            <input type = "text" id = "lname" placeholder = "lname" name = "lname"><br>
            <label>City</label><br>
            <input type = "text" id = "city" placeholder = "city" name = "city"><br>
            <label>DOB</label><br>
            <input type = "date" id = "DOB" placeholder = "DOB" name = "DOB"><br>
            <label>Image</label><br>
            <input type = "text" id = "img" placeholder = "img" name = "img"><br>
            <input type = "submit" value = "add">
        </form>
        <button><a href = "/">Back</a></button>
    </div>
</body>