<!DOCTYPE html>
<head>
    <title>Remove Complaints</title>
</head>
<body>
    <div class="remComp">
        <h1>Remove Complaints</h1>
        <form action = "remComp" method = "post">
            <label>username</label><br>
            <input type = "uname" id = "uname" placeholder="uname" name = "uname"><br>

            <label>password</label><br>
            <input type = "text" id = "password" placeholder="password" name = "password"><br>

            <label>Complaint ID</label><br>
            <input type = "text" id = "CID" placeholder = "CID" name = "CID"><br>

            <input type = "submit" value = "remove">
        </form>
    </div>
</body>