<!DOCTYPE html>
<head>
    <title>Remove User</title>
</head>
<body>
    <div class="remUser">
        <h1>Remove User</h1>
        <form action = "remUser" method = "post">
            <label>Your Username</label><br>
            <input type = "uname" id = "uname" placeholder="uname" name = "uname"><br>

            <label>Your Password</label><br>
            <input type = "text" id = "password" placeholder="password" name = "password"><br>

            <label>username to be deleted</label><br>
            <input type = "text" id = "userDel" placeholder = "userDel" name = "userDel"><br>

            <input type = "submit" value = "remove">
        </form>
    </div>
</body>