<!DOCTYPE html>
<head>
    <title>User Homepage</title>
</head>
<body>
    <div class="user">
        <h1>User</h1>
        <a href = "/user/viewComp">View Complaints</a><br>
        <a href = "/user/regComp">Register Complaints</a><br>
        <a href = "/user/remComp">Remove Complaints</a><br>
        <a href = "/user/Myprof">My Profile</a>
    </div>
</body>