<!DOCTYPE html>
<head>
    <title>User Homepage</title>
</head>
<body>
    <div class="user">
        <h1>WMS</h1>
        <a href = "/user/viewComp" style="text-decoration:none;">View Complaints</a>
        <a href = "/user/regComp" style="text-decoration:none;">Register Complaints</a>
        <a href = "/user/remComp" style="text-decoration:none;">Remove Complaints</a>
        <a href = "/user/Myprof" style="text-decoration:none;">My Profile</a>
    </div>
    <style>
        .user{
            background-color: black;
        }
        .user h1{
            display: inline-block;
            color: white;
            margin: 15px;
        }
        .user a{
            position: relative;
            left: 30%;
            display: inline-block;
            margin: 15px;
            padding: 15px;
            color: white;

        }
    </style>
</body>